@font-face {
  font-family: "Moonhouse";
  src: url("../fonts/moonhouse.ttf");
}

body {
  background-color: black;
  height: 100%;
}

header {
  text-align: center;
  color: rgba(252,85,255,1);
  font-size: 50px;
  font-family: "Moonhouse";
  margin: 25px 0px;
}

p {
  color: yellow;
  font-size: 40px;
  font-family: "Orbitron";
}

.hero {
  text-align: center;
  font-family: "Orbitron";
  color: yellow;
}

.row {
  margin: 25px;
}

.text {
  font-family: "Orbitron";
  color: rgb(9,218,255);
}

.carousel-caption {
  position: static;
  text-align: center;
  vertical-align: middle;
  font-color: yellow;
}

#userInput {
  font: 20px bold;
  font-family: "Orbitron";
  color: orange;
  text-align: center;
}

.carousel-inner {
  height: 300px;
  background-color: black;
  border: 2px solid pink;
  margin-top: 25px;
  border-radius: 20px;
}

.submitClick {
  background-color: black;
  color: rgb(9,218,255);
  font-family: "Orbitron";
}